{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{#    <div id="edit_student">#}
{#        <form method="POST" action="{% url "edit_student" %}">#}
{#            {% csrf_token %}#}
{#            Student:<input class="edit_student" id="student_name" type="text"><br/>#}
{#            E-mail:<input class="edit_student" id="student_email" type="text">#}
{#            <input id="edit_student_button" class="edit_button" type="submit" value="Save">#}
{#            <a href="/grade_keeper/">Cancel</a>#}
{#        </form>#}
{#    </div>#}
    <a href="/grade_keeper/">Main Page</a>
{% endblock %}
