#add_student_window {
    left: 100px;
    top: 100px;
    color: black;
    border-style: solid;
    border-width: 1px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

#add_student, #add_student_form {
    display: none;
}

.add_student_class, .add_assigment_class, .add_clear_class{
    text-decoration: none;
    cursor: pointer;
    background: #deefff;
    background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
    background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%);
    background: -o-linear-gradient(top, #deefff 0%,#98bede 100%);
    background: -ms-linear-gradient(top, #deefff 0%,#98bede 100%);
    background: linear-gradient(top, #deefff 0%,#98bede 100%);
    border-radius: 10px;
    border: 1px solid #008;
    font: 12px/1 Arial, sans-serif;
    color: #4e829e;
    display: inline-table;
}

.add_clear_class{
    color: black;
    background: red;
}

#edit_student{
    display: none;
}
